.message {
    font-weight: 600;
    color:blue;
}
.navbar {
    background-color: slategray;
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 20px 10px;
    
}
.navbar a {
    text-decoration: none;
    color: inherit;
    padding: 20px 10px;
    text-transform: uppercase;
    
}

.navbar a:hover {
    color: #000000;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.nav-item{
    font-variant: small-caps;
    margin-left: 60px;
    margin-right: 60px;
}

.body-content{
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}