.message {
    font-weight: 600;
    color:blue;
}
.navbar {
    background-color: slategray;
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 20px 10px;
    
}
.navbar a {
    text-decoration: none;
    color: inherit;
    padding: 20px 10px;
    text-transform: uppercase;
    
}

.navbar a:hover {
    color: #000000;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.nav-item{
    font-variant: small-caps;
    margin-left: 60px;
    margin-right: 60px;
}

.body-content{
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.charts-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns, each taking up 1 fraction of the available space */
    gap: 20px; /* Gap between the charts */
}

.chart {
    width: 100%; /* Each chart takes up the full width of its container */
    min-width: 300px; /* Minimum width of each chart to avoid too much squeezing */
}

.calculator {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#output {
    margin-top: 15px;
    padding: 10px;
    background-color: #ddd;
    border-radius: 4px;
    color: #333;
}