{% extends "layout.html" %}
{% block title %}
ANN
{% endblock %}
{% block content %}
<p>ANN page for Cormacs Final Year Project</p>
<div>
    <canvas id="myChart" width="800" height="400"></canvas>
</div>

<script>
  // Fetch data from API
  fetch('/api/data/ann')
    .then(response => response.json())
    .then(data => {
      var ctx = document.getElementById('myChart').getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'line', // Choose other types like 'bar', 'pie', etc.
          data: {
              labels: data.labels,
              datasets: data.datasets
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              },
              responsive: true,
              maintainAspectRatio: false
          }
      });
    })
    .catch(error => console.error('Error loading the data: ', error));
  </script>
{% endblock %}