<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% extends "layout.html" %}
{% block title %}
Contact
{% endblock %}
{% block content %}
<div class="contact-info">
    <h2>Contact me</h2>
    <p>Contact page for Cormacs Final Year Project</p>
    <ul class="contact-list">
        <li><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/cormac-duffy/" target="_blank">Cormac Duffy</a></li>
        <li><i class="fab fa-github"></i> <a href="https://github.com/cormacduffy25" target="_blank">cormacduffy25</a></li>
        <li><i class="fas fa-envelope"></i> <a href="mailto:cormacduffy648@hotmail.com">cormacduffy648@hotmail.com</a></li>
    </ul>
</div>
{% endblock %}