{% extends "layout.html" %}
{% block title %}
Models
{% endblock %}
{% block content %}
<p>Models page for Cormacs Final Year Project</p>

<div class="charts-container">
    <div class="chart" id="annChartContainer">
        <canvas id="annChart" width="800" height="400"></canvas>
    </div>
    <div class="chart" id="svmChartContainer">
        <canvas id="svmChart" width="800" height="400"></canvas>
    </div>
</div>

<script>
    fetch('/api/data/ann')
      .then(response => response.json())
      .then(data => {
        var ctx = document.getElementById('annChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line', 
            data: {
                labels: data.labels,
                datasets: data.datasets
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                title: {
                    display: true,
                    text: 'ANN Model Performance'
                }
            },
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Electric Pricing pence/kWh' // Y-axis label
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Year' // X-axis label
                        }
                    }
                },
            }
        });
      })
      .catch(error => console.error('Error loading the data: ', error));
  </script>
 <script>
    fetch('/api/data/svm')
      .then(response => response.json())
      .then(data => {
        var ctx = document.getElementById('svmChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: data.labels,
                datasets: data.datasets
            },
            options: {
                plugins: {
                title: {
                    display: true,
                    text: 'SVM Model Performance'
                }
            },
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Electric Pricing pence/kWh' // Y-axis label
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Year' // X-axis label
                        }
                    }
                },
                title: {
                    display: true,
                    text: 'SVM Model Performance' // Chart Title
                },
                responsive: true,
                maintainAspectRatio: false
            }
        });
      })
      .catch(error => console.error('Error loading the data: ', error));
  </script>  
{% endblock %}