{% extends "layout.html" %}
{% block title %}
ANN
{% endblock %}
{% block content %}
<p>ANN page for Cormacs Final Year Project</p>
<div>
    <canvas id="annChart" width="800" height="400"></canvas>
</div>
<div>
    <canvas id="svmChart" width="800" height="400"></canvas>
</div>

<script>
    fetch('/api/data/ann')
      .then(response => response.json())
      .then(data => {
        var ctx = document.getElementById('annChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line', 
            data: {
                labels: data.labels,
                datasets: data.datasets
            },
            options: {
                plugins: {
                title: {
                    display: true,
                    text: 'ANN Model Performance'
                }
            },
                scales: {
                    y: {
                        beginAtZero: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Electric Pricing pence/kWh' // Y-axis label
                        }
                    },
                    x: {
                        scaleLabel: {
                            display: true,
                            labelString: 'Year' // X-axis label
                        }
                    }
                },
            }
        });
      })
      .catch(error => console.error('Error loading the data: ', error));
  </script>
 <script>
    fetch('/api/data/svm')
      .then(response => response.json())
      .then(data => {
        var ctx = document.getElementById('svmChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: data.labels,
                datasets: data.datasets
            },
            options: {
                plugins: {
                title: {
                    display: true,
                    text: 'SVM Model Performance'
                }
            },
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            display: true,
                            labelString: 'Electric Pricing pence/kWh' // Y-axis label
                        }
                    },
                    x: {
                        scaleLabel: {
                            display: true,
                            labelString: 'Year' // X-axis label
                        }
                    }
                },
                title: {
                    display: true,
                    text: 'SVM Model Performance' // Chart Title
                },
                responsive: true,
                maintainAspectRatio: false
            }
        });
      })
      .catch(error => console.error('Error loading the data: ', error));
  </script>  
{% endblock %}